{% comment %}
  Renders a product card (Block)

  Usage:
  {% render 'block-product'%}
{% endcomment %}

{% assign product = block.settings.product | default: block %}
{% assign default_variant = product.selected_or_first_available_variant %}
{% assign price = default_variant.price | default: product.price %}
{% assign compare_at_price = default_variant.compare_at_price | default: product.compare_at_price %}

<li class="product">
  <ui-drawer id="product">
    <div
      {% unless section.settings.style == 'pack' %}
        ui-drawer="trigger" data-for="product" data-state="open"
      {% endunless %}
      class="image"
    >
      {% if product.preview_image %}
        <img
          srcset="
            {{ product.preview_image.medium }} 480w,
            {{ product.preview_image.large }} 800w,
            {{ product.preview_image.original }} 1200w
          "
          sizes="
            (max-width: 640px) 50vw,
            (max-width: 768px) 33vw,
            (max-width: 1024px) 25vw,
            33vw
          "
          src="{{ product.preview_image.original }}"
          alt="{{ product.name }}"
          height="100%"
          width="100%"
        >
      {% else %}
        {% render 'misc.image-fallback' %}
      {% endif %}
      {% if forloop.index == 4 %}
        {% if section.blocks.size > 4 or items.size > 4 %}
          <div class="total">
            <span>+{{ section.blocks.size | default: items.size | minus: 4 }}</span>
          </div>
        {% endif %}
      {% endif %}
      <div hidden class="out-of-stoke">
        <span class="label">Out of Stock</span>
      </div>
    </div>
    {% unless section.settings.style == 'pack' %}
      {% render 'drawer.product' %}
    {% endunless %}
  </ui-drawer>
  {% unless section.settings.style == 'pack' %}
    <div class="content">
      <a href="/products/{{ product.slug }}" class="title">{{ product.name | default: 'Product name' }}</a>
      {% comment %}
        {% if forloop.index == 3 %}
          <span class="badge">Saved 30 MAD extra</span>
        {% endif %}
      {% endcomment %}
      <p class="price">
        {{ price | default: 0 | money }}
      </p>
    </div>
    <div class="action">
      {% render 'core.product-button', product: product, as_icon: true %}
    </div>
  {% endunless %}
</li>
