{% comment %}
  Renders a payment status

  Accepts:
  - status: {String} Status ('paid' | 'unpaid' | 'captured' | 'refunded' | 'pending')

  Usage:
  {% render 'const.payment-status', status: 'paid' %}
{% endcomment %}

<div class="value" data-status="{{ status }}">
  {% case status %}
    {% when 'paid' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25C6.06294 1.25 1.25 6.06294 1.25 12ZM16.6757 8.26285C17.0828 8.63604 17.1103 9.26861 16.7372 9.67573L11.2372 15.6757C11.0528 15.8768 10.7944 15.9938 10.5217 15.9998C10.249 16.0057 9.98576 15.9 9.79289 15.7071L7.29289 13.2071C6.90237 12.8166 6.90237 12.1834 7.29289 11.7929C7.68342 11.4024 8.31658 11.4024 8.70711 11.7929L10.4686 13.5544L15.2628 8.32428C15.636 7.91716 16.2686 7.88966 16.6757 8.26285Z" fill="currentColor"></path>
      </svg>
      {{ 'order.status.paid' | t }}
    {% when 'unpaid' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path d="M8.1 1.25C8.63848 1.25 9.075 1.68754 9.075 2.22727V3.21284C9.6529 3.20453 10.2784 3.20453 10.9537 3.20454H13.0463C13.7216 3.20453 14.3471 3.20453 14.925 3.21284V2.22727C14.925 1.68754 15.3615 1.25 15.9 1.25C16.4385 1.25 16.875 1.68754 16.875 2.22727V3.29947C17.0513 3.31556 17.221 3.33437 17.3843 3.35638C18.5544 3.51407 19.5397 3.85141 20.3221 4.63573C21.1046 5.42004 21.4412 6.40758 21.5985 7.58045C21.75 8.71014 21.75 10.1975 21.75 11.9796C21.75 12.518 21.3135 12.9545 20.775 12.9545C20.2365 12.9545 19.8 12.5385 19.8 12C19.8 11.1378 19.7996 10.3958 19.7862 9.75H4.21386C4.20045 10.3958 4.20001 11.1378 4.20001 12V13.9545C4.20001 15.8249 4.20208 17.1294 4.3341 18.1137C4.46235 19.0698 4.69693 19.5761 5.05673 19.9367C5.41652 20.2974 5.92166 20.5325 6.87557 20.6611C7.85752 20.7934 9.15897 20.7955 11.025 20.7955C11.5647 20.7955 11.975 21.233 11.975 21.7727C11.975 22.3125 11.5375 22.75 10.9977 22.75C9.21986 22.75 7.74279 22.75 6.61573 22.5982C5.44559 22.4405 4.46035 22.1031 3.67786 21.3188C2.89537 20.5345 2.5588 19.547 2.40148 18.3741C2.24996 17.2444 2.24998 15.8081 2.25 14.0261V11.9285C2.24998 10.1465 2.24996 8.71012 2.40148 7.58045C2.5588 6.40758 2.89537 5.42004 3.67786 4.63573C4.46035 3.85141 5.44559 3.51407 6.61573 3.35638C6.77902 3.33437 6.94874 3.31556 7.125 3.29947V2.22727C7.125 1.68754 7.56152 1.25 8.1 1.25Z" fill="currentColor"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13.25C14.3766 13.25 12.25 15.3766 12.25 18C12.25 20.6234 14.3766 22.75 17 22.75C19.6234 22.75 21.75 20.6234 21.75 18C21.75 15.3766 19.6234 13.25 17 13.25ZM17.75 16.2656C17.75 15.8514 17.4142 15.5156 17 15.5156C16.5858 15.5156 16.25 15.8514 16.25 16.2656V17.9988C16.25 18.2716 16.3982 18.523 16.6369 18.6551L17.904 19.3562C18.2664 19.5567 18.7228 19.4255 18.9233 19.0631C19.1239 18.7006 18.9926 18.2442 18.6302 18.0437L17.75 17.5567V16.2656Z" fill="currentColor"></path>
      </svg>
      {{ 'order.status.unpaid' | t }}
    {% when 'captured' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.001 1.25C11.4612 1.25 11.0237 1.68754 11.0237 2.22728C11.0237 2.76701 11.4612 3.20456 12.001 3.20456C16.8586 3.20456 20.7965 7.14244 20.7965 12.0001C20.7965 12.5398 21.234 12.9773 21.7737 12.9773C22.3135 12.9773 22.751 12.5398 22.751 12.0001C22.751 6.06297 17.9381 1.25 12.001 1.25ZM8.80037 4.11956C9.30596 3.93063 9.56267 3.36761 9.37374 2.86202C9.18481 2.35643 8.62179 2.09973 8.1162 2.28865C7.88568 2.37479 7.659 2.46874 7.43647 2.57017C6.94535 2.79404 6.72869 3.37364 6.95255 3.86477C7.17641 4.35589 7.75602 4.57255 8.24715 4.34869C8.4283 4.26611 8.6128 4.18965 8.80037 4.11956ZM5.92949 5.90242C6.3234 5.53344 6.3436 4.91499 5.97461 4.52108C5.60563 4.12717 4.98718 4.10697 4.59327 4.47596C4.42725 4.63147 4.26627 4.79229 4.11057 4.95813C3.74117 5.35165 3.7607 5.97012 4.15422 6.33953C4.54773 6.70894 5.1662 6.6894 5.53561 6.29588C5.66265 6.16055 5.79402 6.02932 5.92949 5.90242ZM3.96262 8.64876C4.18468 8.15682 3.96591 7.57801 3.47398 7.35594C2.98204 7.13387 2.40322 7.35265 2.18116 7.84458C2.08908 8.04857 2.00327 8.25603 1.92399 8.4667C1.7339 8.97185 1.98931 9.53546 2.49446 9.72555C2.99961 9.91565 3.56322 9.66024 3.75331 9.15509C3.81782 8.98366 3.88766 8.81481 3.96262 8.64876ZM3.20908 11.9121C3.22585 11.3726 2.8021 10.9217 2.26263 10.905C1.72315 10.8882 1.27223 11.3119 1.25547 11.8514C1.24851 12.0752 1.24849 12.3002 1.25547 12.524C1.27231 13.0634 1.72328 13.4871 2.26276 13.4703C2.80223 13.4534 3.22591 13.0025 3.20908 12.463C3.20337 12.28 3.20338 12.0956 3.20908 11.9121ZM21.7112 15.8839C21.9001 15.3783 21.6434 14.8153 21.1378 14.6263C20.6322 14.4374 20.0692 14.6941 19.8803 15.1997C19.805 15.4011 19.7223 15.599 19.6327 15.7931C19.4063 16.283 19.6199 16.8637 20.1099 17.0902C20.5998 17.3166 21.1806 17.1029 21.407 16.613C21.5171 16.3746 21.6186 16.1315 21.7112 15.8839ZM3.75968 15.2347C3.56852 14.73 3.00437 14.4758 2.49962 14.6669C1.99487 14.8581 1.74065 15.4222 1.93181 15.927C2.0125 16.1401 2.09988 16.3498 2.19368 16.556C2.41716 17.0473 2.99661 17.2644 3.4879 17.0409C3.97919 16.8174 4.1963 16.238 3.97281 15.7467C3.89645 15.5788 3.82534 15.4081 3.75968 15.2347ZM19.5535 19.3749C19.9209 18.9794 19.8982 18.3611 19.5028 17.9937C19.1073 17.6263 18.489 17.649 18.1216 18.0445C17.9812 18.1956 17.8354 18.3417 17.6846 18.4824C17.29 18.8506 17.2685 19.469 17.6367 19.8636C18.0049 20.2583 18.6233 20.2797 19.018 19.9115C19.2028 19.739 19.3815 19.56 19.5535 19.3749ZM5.55013 18.0925C5.17976 17.6999 4.56124 17.6819 4.16864 18.0522C3.77603 18.4226 3.758 19.0411 4.12837 19.4337C4.27548 19.5897 4.42729 19.7412 4.58358 19.8879C4.97702 20.2574 5.5955 20.238 5.96498 19.8445C6.33446 19.4511 6.31503 18.8326 5.92158 18.4631C5.79406 18.3434 5.67018 18.2198 5.55013 18.0925ZM16.1573 21.8178C16.6492 21.5956 16.8678 21.0167 16.6457 20.5249C16.4235 20.033 15.8446 19.8143 15.3527 20.0365C15.1878 20.1109 15.0202 20.1804 14.85 20.2445C14.345 20.4349 14.09 20.9987 14.2804 21.5038C14.4708 22.0088 15.0346 22.2638 15.5396 22.0734C15.7488 21.9945 15.9547 21.9092 16.1573 21.8178ZM8.28432 20.0411C7.79214 19.8196 7.21357 20.039 6.99205 20.5312C6.77054 21.0234 6.98996 21.602 7.48214 21.8235C7.67695 21.9112 7.87491 21.9931 8.07581 22.0691C8.58062 22.2601 9.14469 22.0057 9.33569 21.5009C9.5267 20.9961 9.27231 20.4321 8.7675 20.2411C8.60402 20.1792 8.4429 20.1125 8.28432 20.0411ZM11.5078 20.7897C10.9683 20.7711 10.516 21.1933 10.4974 21.7327C10.4788 22.2721 10.9009 22.7245 11.4404 22.7431C11.6885 22.7517 11.9382 22.7517 12.1864 22.7431C12.7258 22.7245 13.148 22.2721 13.1294 21.7327C13.1108 21.1933 12.6584 20.7711 12.119 20.7897C11.9157 20.7967 11.711 20.7967 11.5078 20.7897Z" fill="currentColor"></path>
        <path d="M12.0002 5C12.5525 5 13.0002 5.44772 13.0002 6V9.70802C13.577 9.96 14.0402 10.4233 14.2922 11H16.0002C16.5525 11 17.0002 11.4477 17.0002 12C17.0002 12.5523 16.5525 13 16.0002 13H14.2922C13.9064 13.883 13.0254 14.5 12.0002 14.5C10.6195 14.5 9.50024 13.3807 9.50024 12C9.50024 10.9748 10.1173 10.0938 11.0002 9.70802V6C11.0002 5.44772 11.448 5 12.0002 5Z" fill="currentColor"></path>
      </svg>
      {{ 'order.status.captured' | t }}
    {% when 'refunded' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path d="M12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12C1.25 6.06294 6.06294 1.25 12 1.25ZM9.63086 8.22461C9.2381 7.90427 8.65909 7.92689 8.29297 8.29297C7.92698 8.65909 7.90429 9.23813 8.22461 9.63086L8.29297 9.70703L10.5859 12L8.29395 14.293C7.90357 14.6835 7.90344 15.3166 8.29395 15.707C8.68447 16.0972 9.31758 16.0974 9.70801 15.707L12 13.4141L14.292 15.707L14.3682 15.7754C14.7608 16.0957 15.3399 16.0729 15.7061 15.707C16.0721 15.3411 16.0954 14.7619 15.7754 14.3691L15.7061 14.293L13.4131 12L15.707 9.70703L15.7754 9.63086C16.0957 9.23812 16.073 8.65909 15.707 8.29297C15.3409 7.92689 14.7619 7.90427 14.3691 8.22461L14.293 8.29297L12 10.5859L9.70703 8.29297L9.63086 8.22461Z" fill="currentColor"></path>
      </svg>
      {{ 'order.status.refunded' | t }}
    {% when 'pending' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path d="M12.0527 1.75C14.2453 1.74999 15.9673 1.74998 17.3115 1.93066C18.6882 2.11575 19.7805 2.50313 20.6387 3.36133C21.4969 4.21953 21.8842 5.31182 22.0693 6.68848C22.25 8.03274 22.25 9.75468 22.25 11.9473V12.0527C22.25 14.2453 22.25 15.9673 22.0693 17.3115C21.8842 18.6882 21.4969 19.7805 20.6387 20.6387C19.7805 21.4969 18.6882 21.8842 17.3115 22.0693C15.9673 22.25 14.2453 22.25 12.0527 22.25H11.9473C9.75468 22.25 8.03274 22.25 6.68848 22.0693C5.31182 21.8842 4.21953 21.4969 3.36133 20.6387C2.50313 19.7805 2.11575 18.6882 1.93066 17.3115C1.74998 15.9673 1.74999 14.2453 1.75 12.0527V11.9473C1.74999 9.75468 1.74998 8.03274 1.93066 6.68848C2.11575 5.31182 2.50313 4.21953 3.36133 3.36133C4.21953 2.50313 5.31182 2.11575 6.68848 1.93066C8.03274 1.74998 9.75468 1.74999 11.9473 1.75H12.0527ZM12 14.9883C11.4477 14.9883 11 15.436 11 15.9883V15.998C11 16.5503 11.4477 16.998 12 16.998C12.5523 16.998 13 16.5503 13 15.998V15.9883C13 15.436 12.5523 14.9883 12 14.9883ZM12 7C11.4477 7 11 7.44772 11 8V12.5C11 13.0523 11.4477 13.5 12 13.5C12.5523 13.5 13 13.0523 13 12.5V8C13 7.44772 12.5523 7 12 7Z" fill="currentColor"></path>
      </svg>
      {{ 'order.status.pending' | t }}
    {% else %}
      --
  {% endcase %}
</div>
