{% comment %}
  Renders a product drawer

  Usage:
  {% render 'drawer-product'%}
{% endcomment %}

<div ui-drawer="content" class="drawer-product">
  <div class="core">
    <div class="media">
      <ul class="slides">
        {% if product.images.size %}
          {% for img in product.images %}
            <li class="slide">
              <div class="image">
                <img
                  src="{{ img }}"
                  alt="{{ product.name }}"
                  height="100%"
                  width="100%"
                >
              </div>
            </li>
          {% endfor %}
        {% else %}
          <li class="slide">
            <div class="image">
              {% render 'misc.image-fallback' %}
            </div>
          </li>
        {% endif %}
      </ul>
      {% if product.images.size > 1 %}
        <div class="pagination">
          <span class="index">1</span> / <span class="total"></span>{{ product.images.size }}
        </div>
      {% endif %}
    </div>
    <ui-product class="content" product-id="{{ product.id }}">
      <div class="bio">
        <a href="/products/{{ product.slug }}" class="title">
          {{ product.name | default: 'Product name' }}
        </a>
        <div class="about">
          <div class="rating">
            <span class="value">{{ product.averageRating }}</span>
            <div class="stars">
              {% for star in (1..5) %}
                {% if star <= product.averageRating %}
                  {% render 'icon.start', size: 10 %}
                {% else %}
                  <i class="hgi hgi-stroke hgi-star"></i>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="inventory">
            <div class="status"><span class="dot">·</span> Low stock</div>
          </div>
          <div class="total-reviews">
            <span class="value">39</span>
            <span class="label">Reviews</span>
          </div>
        </div>
      </div>
      {% if product.options.size > 0 %}
        {% render 'misc.variants' %}
      {% endif %}
      {% if product.description %}
        <article class="description">
          {{ product.description }}
        </article>
      {% endif %}
      <div class="reviews">
        <div class="reviews-overview">
          <div class="rating">
            {% render 'icon.start', size: 20 %}
            <span class="value">{{ product.averageRating }}</span>
          </div>
          <span class="separator">·</span>
          <span class="total">90 reviews</span>
        </div>
        <ul class="cards">
          {% for review in (1..5) %}
            <li class="card">
              <div class="rating">
                <div class="stars">
                  {% for star in (1..5) %}
                    {% if forloop.index < 4 %}
                      {% render 'icon.start', size: 14 %}
                    {% else %}
                      <i class="hgi hgi-stroke hgi-star"></i>
                    {% endif %}
                  {% endfor %}
                </div>
                <span class="separator">·</span>
                <span class="date">1 week ago</span>
              </div>
              <article>
                <p>
                  We had a lovely stay in the cabin in the woods! The cabin was surrounded by gorgeous countryside and
                  in a perfect location to see all the idyllic villages of the Cotswolds.
                </p>
              </article>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="events">
        <div class="price">
          <span class="original" ui-product-item="price">
            {{ price | default: 0 | money }}
          </span>
          {% if compare_at_price %}
            <span class="compare-at" ui-product-item="compare-at-price">
              {{ compare_at_price | default: 0 | money }}
            </span>
          {% endif %}
        </div>
        <div class="actions">
          {% render 'core.buy-now' %}
          {% render 'core.product-button' %}
        </div>
      </div>
    </ui-product>
  </div>
</div>

{% if product and product.options.size %}
  {% javascript %}
    if (!window.productsVariants["{{ product.id }}"]) {
      window.productsVariants["{{ product.id }}"] = JSON.parse({{ product.variants | json }});
    }
  {% endjavascript %}
{% endif %}
