{% comment %}
  Renders product variants

  Usage:
  {% render 'misc.variants'%}
{% endcomment %}

<ui-variants>
  {% for variant in product.options %}
    {% assign default = '' %}
    {% assign name_id = 100 | rand: 2000 %}
    {% assign unique_name = variant.name | append: '_' | append: name_id %}

    {% for variation in product.selected_or_first_available_variant.variations %}
      {% if variation[0] == variant.name %}
        {% assign default = variation[1] %}
      {% endif %}
    {% endfor %}

    <div ui-variant="{{ variant.type }}">
      <span class="label">{{ variant.name }}</span>
      {% if variant.type == 'textual_buttons' %}
        <div class="options">
          {% for opt in variant.values %}
            <label class="opt">
              {{ opt }}
              <input
                type="radio"
                name="{{ unique_name }}"
                value="{{ opt }}"
                {% if opt == default %}
                  checked
                {% endif %}
              >
            </label>
          {% endfor %}
        </div>
      {% elsif variant.type == 'radio_buttons' %}
        <div class="options">
          {% for opt in variant.values %}
            <label class="opt">
              <input
                type="radio"
                name="{{ unique_name }}"
                value="{{ opt }}"
                {% if opt == default %}
                  checked
                {% endif %}
              >
              {{ opt }}
            </label>
          {% endfor %}
        </div>
      {% elsif variant.type == 'color_base_buttons' %}
        <div class="options">
          {% for opt in variant.values %}
            <label class="opt" style="--color-value: {{ opt.preview }}">
              <i class="hgi hgi-stroke hgi-tick-02"></i>
              <input
                type="radio"
                name="{{ unique_name }}"
                value="{{ opt.value }}"
                {% if opt.value == default %}
                  checked
                {% endif %}
              >
            </label>
          {% endfor %}
        </div>
      {% elsif variant.type == 'dropdown' %}
        <select ui-input class="options" name="{{ unique_name }}">
          {% for opt in variant.values %}
            <option
              value="{{ opt }}"
              {% if opt == default %}
                selected
              {% endif %}
            >
              {{ opt }}
            </option>
          {% endfor %}
        </select>
        <i class="hgi hgi-stroke hgi-unfold-more"></i>
      {% elsif variant.type == 'image_based_buttons' %}
        <div class="options">
          {% for opt in variant.values %}
            <label class="opt">
              {% if opt.preview %}
                <img
                  src="{{ opt.preview }}"
                  alt="{{ opt.value }}"
                  height="80"
                  width="80"
                >
              {% else %}
                {% render 'misc.image-fallback' %}
              {% endif %}
              <input
                type="radio"
                name="{{ unique_name }}"
                value="{{ opt.value }}"
                {% if opt.value == default %}
                  checked
                {% endif %}
              >
              <div class="checked">
                <i class="hgi hgi-stroke hgi-tick-02"></i>
              </div>
            </label>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</ui-variants>
