{{ 'section.cart.css' | asset_url | stylesheet_tag }}

<div ui-section="cart">
  <h3 class="title">Shopping Cart</h3>
  <div
    class="core"
    {% unless cart.items.size > 0 %}
      hidden
    {% endunless %}
  >
    <div class="card">
      <span class="title">Products</span>
      <template ui-cart-item>
        {% render 'misc.cart-item', product: product %}
      </template>
      <ui-cart-items
        class="box products"
        {% unless cart.items.size > 0 %}
          hidden
        {% endunless %}
      >
        {% for product in cart.items %}
          {% render 'misc.cart-item', product: product %}
        {% endfor %}
      </ui-cart-items>
    </div>
    <ui-summary-box
      class="card"
      {% unless cart.items.size > 0 %}
        hidden
      {% endunless %}
    >
      <span class="title">Summary</span>
      <ul class="box summary">
        <form class="item" ui-summary-box="coupon-form">
          <input
            ui-input
            type="text"
            name="coupon_code"
            placeholder="Enter coupon code"
            data-coupon="coupon-input"
          >
          <button ui-button data-variant="secondary" data-size="lg" type="submit" data-coupon="coupon-button">
            <i class="hgi hgi-stroke hgi-coupon-percent"></i>
            <span class="label">Apply</span>
          </button>
        </form>
        <li
          class="item"
          ui-summary-box="coupon-code"
          {% unless cart.coupon != null %}
            hidden
          {% endunless %}
        >
          <span class="label">{{ 'order.coupon_code' | t }}</span>
          <span class="value coupon">
            <span data-value>{{ cart.coupon.code }}</span>
            <button ui-button data-variant="ghost" data-size="xs" data-icon ui-summary-box="remove-coupon">
              <i class="hgi hgi-stroke hgi-cancel-01"></i>
            </button>
          </span>
        </li>
        <li class="item">
          <span class="label">Subtotal</span>
          <span class="value" ui-summary-box="subtotal">{{ cart.sub_total | default: 0 | money }}</span>
        </li>
        <li
          class="item"
          ui-summary-box="discount"
          {% unless cart.coupon != null %}
            hidden
          {% endunless %}
        >
          <span class="label"> Discount amount </span>
          <span class="value" data-value>
            {% render 'const.discount-value', coupon: cart.coupon %}
          </span>
        </li>
        <li class="item">
          <span class="label">Total</span>
          <span class="value" ui-summary-box="total">{{ cart.discounted_sub_total | default: 0 | money }}</span>
        </li>
      </ul>
    </ui-summary-box>
    <a href="{{ cart.cart_submit_url }}" ui-button data-variant="primary" data-size="lg">
      <i class="hgi hgi-stroke hgi-shopping-basket-03"></i>
      <span class="label">Processed to checkout</span>
    </a>
  </div>
  <div class="core">
    {% if cart.items.size > 0 %}
      {% render 'misc.empty', heading: 'Cart is empty :(', hidden: true %}
    {% else %}
      {% render 'misc.empty', heading: 'Cart is empty :(' %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "label": "Cart"
}
{% endschema %}
