{{ 'section.featured-product.css' | asset_url | stylesheet_tag }}

{% assign product = section.settings.product %}
{% assign default_variant = product.selected_or_first_available_variant %}
{% assign price = default_variant.price | default: product.price %}
{% assign compare_at_price = default_variant.compare_at_price | default: product.compare_at_price %}

<div ui-section="featured-product" ui-nav="shop">
  <div class="card">
    <div class="image">
      {% if product.preview_image %}
        <img
          srcset="
            {{ product.preview_image.medium }} 480w,
            {{ product.preview_image.large }} 800w,
            {{ product.preview_image.original }} 1200w
          "
          sizes="
            (max-width: 640px) 50vw,
            (max-width: 768px) 33vw,
            (max-width: 1024px) 25vw,
            33vw
          "
          src="{{ product.preview_image.original }}"
          alt="{{ product.name }}"
          height="100%"
          width="100%"
        >
      {% else %}
        {% render 'misc.image-fallback' %}
      {% endif %}
    </div>
    <div class="content">
      <div class="info">
        <a href="/products/{{ product.slug }}" class="title">{{ product.name | default: 'Product name' }}</a>
        <div class="rating">
          {% if product.averageRating %}
            {% render 'icon.star', size: 12 %}
            {{ product.averageRating }}
          {% else %}
            <p>No reviews yet</p>
          {% endif %}
        </div>
      </div>
      <div class="action">
        <h4 class="price">
          <span class="original">{{ price | default: 0 | money }}</span>
          {% if compare_at_price %}
            <span class="compare-at">{{ compare_at_price | default: 0 | money }}</span>
          {% endif %}
        </h4>
        {% render 'core.product-button' %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "label": "Featured Product",
  "templates": ["index"],
  "limit": 3,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ]
}
{% endschema %}
