{{ 'section.list-collections.css' | asset_url | stylesheet_tag }}

<div ui-section="list-collections">
  <h3 class="title">Collections</h3>
  {% paginate collections by 24 cod %}
    {% if items.size > 0 %}
      <ul class="collections">
        {% for collection in items %}
          <li class="collection">
            <a aria-label="{{ collection.name }}" href="/collections/{{ collection.slug }}">
              <div class="image">
                {% if collection.preview_image.original %}
                  <img
                    width="100%"
                    height="100%"
                    srcset="
                      {{ collection.preview_image.medium }} 480w,
                      {{ collection.preview_image.large }} 800w,
                      {{ collection.preview_image.original }} 1200w
                    "
                    sizes="
                      (max-width: 640px) 50vw,
                      (max-width: 768px) 33vw,
                      (max-width: 1024px) 25vw,
                      33vw
                    "
                    src="{{ collection.preview_image.original }}"
                    alt=""
                    loading="lazy"
                  >
                {% else %}
                  {% render 'misc.image-fallback' %}
                {% endif %}
              </div>
              <span class="name">{{ collection.name }}</span>
              <i class="hgi hgi-stroke hgi-view view"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {% render 'misc.empty', heading: 'No collections' %}
    {% endif %}
  {% endpaginate %}
</div>

{% schema %}
{
  "label": "List Collections"
}
{% endschema %}
