{{ 'section.single-collection.css' | asset_url | stylesheet_tag }}
{{ 'drawer.product.css' | asset_url | stylesheet_tag }}
{{ 'drawer.quantity.css' | asset_url | stylesheet_tag }}

<div ui-section="single-collection">
  <div
    class="media"
    style="background-image: url({{ category.preview_image.large }});"
  >
    <div class="info">
      <h3 class="name">{{ category.name }}</h3>
      {% if category.description %}
        <p class="description">{{ category.description }}</p>
      {% endif %}
    </div>
  </div>
  <div class="listing">
    {% paginate collection.products by 24 cod, category_id: category.id %}
      {% if subCategories.size > 0 %}
        <div class="list">
          <ul class="sub-collections">
            {% for subCollection in subCategories %}
              <li
                class="sub-collection-item"
                style="background-image: url({{ subCollection.preview_image.large }});"
              >
                <a href="{{ subCollection.slug }}">
                  <span class="name">{{ subCollection.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if items.size > 0 %}
        <div class="list">
          <div class="head">
            <h4 class="label">{{ items.size }} products sorted by <span>Price (Ascending)</span></h4>
            <ui-drawer id="filter">
              <button
                ui-drawer="trigger"
                data-for="filter"
                data-state="open"
                ui-button
                data-variant="secondary"
                data-size="md"
                data-icon
                aria-label="sort"
              >
                <i class="hgi hgi-stroke hgi-filter-horizontal"></i>
              </button>
              {% render 'drawer.filter', url: previous_page %}
            </ui-drawer>
          </div>
          <ul class="products">
            {% for block in items %}
              {% render 'block.product' %}
            {% endfor %}
          </ul>
          {% render 'misc.pagination',
            next_page_url: next_page,
            previous_page_url: previous_page,
            current: current,
            last: last
          %}
        </div>
      {% else %}
        {% render 'misc.empty', heading: 'No products available' %}
      {% endif %}
    {% endpaginate %}
  </div>
</div>

{% schema %}
{
  "label": "Single Collection"
}
{% endschema %}
