{{ 'section.single-product.css' | asset_url | stylesheet_tag }}
{{ 'drawer.product.css' | asset_url | stylesheet_tag }}

{% assign default_variant = product.selected_or_first_available_variant %}
{% assign price = default_variant.price | default: product.price %}
{% assign compare_at_price = default_variant.compare_at_price | default: product.compare_at_price %}

<div ui-section="single-product">
  {% if product.images.size > 1 %}
    <ui-drawer id="gallery">
  {% endif %}
  <div
    class="media"
    ui-drawer="trigger"
    data-for="gallery"
    data-state="open"
  >
    <ul class="slides">
      {% if product.images.size %}
        {% for img in product.images %}
          <li class="slide">
            <div class="image">
              <img
                src="{{ img }}"
                alt="{{ product.name }}"
                height="100%"
                width="100%"
              >
            </div>
          </li>
        {% endfor %}
      {% else %}
        <li class="slide">
          <div class="image">
            {% render 'misc.image-fallback' %}
          </div>
        </li>
      {% endif %}
    </ul>
    {% if product.images.size > 1 %}
      <div class="pagination"><span class="index">1</span> / <span class="total"></span>{{ product.images.size }}</div>
      {% render 'drawer.gallery', images: product.images %}
    {% endif %}
  </div>
  {% if product.images.size > 1 %}
    </ui-drawer>
  {% endif %}
  <div class="content">
    <div class="bio">
      <h1 class="title">{{ product.name }}</h1>
      <div class="about">
        <div class="rating">
          <span class="value">{{ product.averageRating }}</span>
          <div class="stars">
            {% for star in (1..5) %}
              {% if star <= product.averageRating %}
                {% render 'icon.start', size: 10 %}
              {% else %}
                <i class="hgi hgi-stroke hgi-star"></i>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="inventory">
          <div class="status"><span class="dot">·</span> Low stock</div>
        </div>
        <div class="total-reviews">
          <span class="value">39</span>
          <span class="label">Reviews</span>
        </div>
      </div>
    </div>
    {% if product.options.size > 0 %}
      {% render 'misc.variants' %}
    {% endif %}
    {% if product.description %}
      <article class="description">
        {{ product.description }}
      </article>
    {% endif %}
    {% for block in section.blocks %}
      {% if block.type == 'reviews' %}
        <div class="reviews" {{ block.youcan_attributes }}>
          <div class="reviews-overview">
            <div class="rating">
              {% render 'icon.start', size: 20 %}
              <span class="value">{{ product.averageRating }}</span>
            </div>
            <span class="separator">·</span>
            <span class="total">90 reviews</span>
          </div>
          <ul class="cards">
            {% for review in (1..5) %}
              <li class="card">
                <div class="rating">
                  <div class="stars">
                    {% for star in (1..5) %}
                      {% if forloop.index < 4 %}
                        {% render 'icon.start', size: 14 %}
                      {% else %}
                        <i class="hgi hgi-stroke hgi-star"></i>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <span class="separator">·</span>
                  <span class="date">1 week ago</span>
                </div>
                <article>
                  <p>
                    We had a lovely stay in the cabin in the woods! The cabin was surrounded by gorgeous countryside and
                    in a perfect location to see all the idyllic villages of the Cotswolds.
                  </p>
                </article>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% elsif block.type == 'note' %}
        <div class="note" {{ block.youcan_attributes }}>
          {% render 'icon.note', size: 24 %}
          <span class="value">The cabin was surrounded by gorgeous</span>
        </div>
      {% endif %}
    {% endfor %}

    <div class="events">
      <span class="price">
        {{ price | default: 0 | money }}
        {% if compare_at_price %}
          {{ compare_at_price | default: 0 | money }}
        {% endif %}
      </span>
      <div class="actions">
        <button ui-button data-variant="secondary" data-size="lg">
          <i class="hgi hgi-stroke hgi-shopping-bag-01"></i>
          <span class="label">Buy Now</span>
        </button>
        <button ui-button data-variant="primary" data-size="lg">
          <i class="hgi hgi-stroke hgi-plus-sign"></i>
          <span class="label">Add to Cart</span>
        </button>
      </div>
    </div>
    {% for block in section.blocks %}
      {% if block.type == 'related_products' %}
        <div class="related-products" {{ block.youcan_attributes }}>
          <div class="nav">
            <h4 class="title">Related Products</h4>
          </div>
          <ul class="products">
            {% for block in (1..4) %}
              {% render 'block.product' %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "label": "Single Product",
  "blocks": [
    {
      "type": "note",
      "label": "Note",
      "limit": 1,
      "settings": []
    },
    {
      "type": "reviews",
      "label": "Reviews",
      "limit": 1,
      "settings": []
    },
    {
      "type": "related_products",
      "label": "Related products",
      "limit": 1,
      "settings": []
    }
  ]
}
{% endschema %}
