{{ 'section.social-links.css' | asset_url | stylesheet_tag }}

<div ui-section="social-links">
  <h3 class="title">{{ section.settings.title }}</h3>
  <ul class="links">
    {% for block in section.blocks %}
      <li class="link" {{ block.youcan_attributes }}>
        <a
          href="{{ block.settings.social_link |  default: "#" }}"
          target="_blank"
          ui-button
          data-variant="outline"
          data-size="md"
        >
          <i class="hgi hgi-stroke hgi-{{ block.settings.social_name }}"></i>
          <span class="label">
            {% case block.settings.social_name %}
              {% when 'facebook-02' %}
                Facebook
              {% when 'instagram' %}
                Instagram
              {% when 'new-twitter' %}
                X
              {% when 'tiktok' %}
                TikTok
              {% when 'whatsapp' %}
                WhatsApp
              {% when 'snapchat' %}
                Snapchat
            {% endcase %}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
{
  "label": "Social links",
  "limit": 1,
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Find us everywhere"
    }
  ],
  "blocks": [
    {
      "type": "social",
      "label": "t:sections.socials.blocks.label",
      "settings": [
        {
          "type": "select",
          "id": "social_name",
          "label": "t:sections.socials.blocks.social_name",
          "options": [
            {
              "value": "facebook-02",
              "label": "t:sections.socials.blocks.facebook"
            },
            {
              "value": "instagram",
              "label": "t:sections.socials.blocks.instagram"
            },
            {
              "value": "new-twitter",
              "label": "t:sections.socials.blocks.x"
            },
            {
              "value": "tiktok",
              "label": "t:sections.socials.blocks.tiktok"
            },
            {
              "value": "whatsapp",
              "label": "t:sections.socials.blocks.whatsapp"
            },
            {
              "value": "snapchat",
              "label": "t:sections.socials.blocks.snapchat"
            }
          ],
          "default": "facebook"
        },
        {
          "type": "text",
          "id": "social_link",
          "label": "t:sections.socials.blocks.social_link"
        }
      ]
    }
  ]
}
{% endschema %}
