{{ 'section.thankyou.css' | asset_url | stylesheet_tag }}

<div ui-section="thankyou">
  <div class="head">
    <div class="shapes">
      {% for shape in (1..4) %}
        <span class="shape"></span>
      {% endfor %}
    </div>
    <h3 class="title">Thank you for your purchase!</h3>
    <p class="description">Your order has been received and is being processed.</p>
  </div>
  <div class="core">
    <div class="card">
      <span class="title">Order summary</span>
      <div class="content">
        <ul class="list">
          <li class="item">
            <span class="label">Status</span>
            {% render 'const.payment-status', status: order.paymentStatusSlug %}
          </li>
          <li class="item">
            <span class="label">{{ 'order.subtotal' | t }}</span>
            <span class="value">{{ order.sub_total | default: 0 | money }}</span>
          </li>
          {% if order.coupon != null %}
            <div class="item">
              <span class="label">{{ 'order.coupon_code' | t }}</span>
              <div class="value">{{ order.coupon.code }}</div>
            </div>
            <div class="item">
              <span class="label">{{ 'order.discount_amount' | t }}</span>
              <span class="value">
                {% render 'const.discount-value', coupon: order.coupon %}
              </span>
            </div>
          {% endif %}
          {% if order.vat != 0 %}
            <div class="item">
              <span class="label">{{ 'cart.page.summary.vat' | t }} ({{ order.vat | times: 100 | append: '%' }})</span>
              <span class="value">{{ order.total_tax_amount | default: 0 | money }}</span>
            </div>
          {% endif %}
          <li class="item">
            <span class="label">{{ 'order.shipping' | t }}</span>
            {% if order.shippingCost == 0 or order.shippingCost == null %}
              {% assign shipping_cost = 'order.free' | t %}
            {% else %}
              {% assign shipping_cost = order.shippingCost | default: 0 | money %}
            {% endif %}
            <span class="value">{{ shipping_cost }}</span>
          </li>
          <li class="item" data-total="true">
            <span class="label">{{ 'order.total' | t }}</span>
            <span class="value">{{ order.total | default: 0 | money }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <span class="title">Payment</span>
      <div class="content">
        <ul class="list">
          <li class="item">
            <span class="label">{{ 'order.payment_method.label' | t }}:</span>
            <span class="value">
              {% render 'const.payment-gateway', type: order.gatewayType %}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <span class="title">Products</span>
      <div class="content">
        <ul class="list">
          {% for product in order.order_variants %}
            <li class="item product">
              <div class="image">
                {% if product.image %}
                  <img
                    src="{{ product.image }}"
                    alt="{{ product.name }}"
                    height="70"
                    width="70"
                  >
                {% else %}
                  {% render 'misc.image-fallback' %}
                {% endif %}
              </div>
              <div class="info">
                <a href="/products/{{ product.slug }}" class="name">{{ product.name }} </a>
                <div class="more">
                  <span class="price">{{ product.price | default: 0 | money }}</span>
                  <span class="quantity">x{{ product.quantity }}</span>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a href="/" class="action" ui-button data-variant="secondary" data-size="lg">
      <i class="hgi hgi-stroke hgi-arrow-left-02"></i>
      <span class="label">Continue shopping</span>
    </a>
  </div>
</div>

{% schema %}
{
  "label": "Thank You"
}
{% endschema %}
