<!doctype html>
{% assign lang = store.store_locale.iso_code %}
{% assign direction = 'ltr' %}

{% if lang == 'ar' %}
  {% assign direction = 'rtl' %}
{% endif %}

<html lang="{{ lang }}" dir="{{ direction }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ request.url }}">

    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap" rel="stylesheet">

    {{ '_globals.css' | asset_url | stylesheet_tag }}

    {{ 'misc.drawer.js' | asset_url | script_tag_deferred }}
    {{ 'misc.drawer.css' | asset_url | stylesheet_tag }}
    {{ 'drawer.cart.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <div id="app">
      <header ui-layout="header">
        <button ui-button data-variant="outline" data-size="md" data-icon aria-label="menu">
          <i class="hgi hgi-stroke hgi-menu-05"></i>
        </button>
        <ui-drawer id="cart">
          <button
            ui-drawer="trigger"
            data-for="cart"
            data-state="open"
            ui-button
            data-variant="outline"
            data-size="md"
            data-icon
            aria-label="cart"
          >
            <i class="hgi hgi-stroke hgi-shopping-basket-03"></i>
          </button>
          {% render 'drawer.cart' %}
        </ui-drawer>
      </header>
      <main id="main">
        {{ content_for_layout }}
      </main>
      <footer ui-layout="footer">
        <div class="copyright">© Made by YouCan</div>
      </footer>
    </div>
  </body>
</html>
